<!--
  VISTA DE DETALLE EXTENDIDA:
  Como 'product' es un Signal Input que viene desde el TypeScript, recordamos que para leer
  su valor dentro de las llaves del HTML debemos invocarlo obligatoriamente usando paréntesis 'product()'.
-->
<div class="sidebar-product">
  <img [src]="product().imageUrl" [alt]="product().name" />
  <h2>{{ product().name }}</h2>
  <div class="meta">
    <span>{{ product().category }}</span>
    <span class="rating">★ {{ product().rating }}</span>
  </div>
  <!-- Formateamos el precio final usando la tubería de moneda nativa de Angular -->
  <p class="price">{{ product().price | currency }}</p>
  <p class="description">{{ product().description }}</p>
</div>
