

<span>{{ title() }}</span>
<div class="options-list">
  @for (option of options(); track option) {
    <div
      class="option-item"
      [class.is-selected]="selectedOption() === option"
      (click)="select (option)"
    >

    <!--
      MECANISMO DE ESTAMPADO INMUTABLE:
      La directiva estructural '*ngTemplateOutlet' se encarga de clonar el TemplateRef
      que extrajimos de la directiva y renderizarlo dentro de este div contenedor.
      Pasamos '$implicit: option' para alimentar el 'let-variable' definido en el padre.
    -->
    @if( hasItemTemplate() ){
      <ng-container *ngTemplateOutlet= "itemTemplate(); context: {$implicit: option}" />

    } @else{
      {{ option }}
    }
    </div>
  }
</div>
