:host {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: start;
  padding: 1rem;

  & > * {
    width: 400px;
  }
}

span[expander-header] {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;

  app-icon {
    color: var(--p-04);
  }
}

button[expander-toggle] {
  width: auto;

  span {
    font-size: 0.6em;
  }

  /**
   * ANIMACIÓN DE TRANSICIÓN VECTORIAL ORQUESTADA POR EL PADRE
   * Gracias a que inyectamos la clase '.expanded' leyendo la referencia '#ex.isExpanded()',
   * el SCSS del padre puede animar la rotación del icono de forma sedosa con una transición
   * nativa de 0.3 segundos, liberando al componente expander de cualquier lógica de animación gráfica.
   */
  app-icon {
    transition: transform 0.3s;

    &.expanded {
      transform: rotate(180deg);
    }
  }
}

